<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>SignUp</title>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/signIn.css">
  </head>

  <body class="text-center">


    <form class="form-signin" action="/" method="post">
      <h2 >welcome to your personal to do list</h2>
      <br>
      <i class="fas fa-list fa-5x"></i>
      <br>
      <br>
      <h1 class="h4 mb-3 font-weight-normal">Choose your user name to start</h1>
      <br>
      <input type="text" id="userName" class="form-control" placeholder="user name" name="userNameInput">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
      <br>
      <p class="mt-5 mb-3 text-muted">&copy; 2021 </p>
    </form>
  </body>
</html>
