<div class="box">
  <form action="/weather" method="post">
    <h4 id="weatherText"><%= weatherIs %></h4>
    <input type="text" name="city" autocomplete="off">
    <input type="hidden" name="userName" value="<%= userNameIs %> ">
    <button type="sumbit" name="submit button">+</button>
  </form>
</div>
